.GridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "Desc infoObject"
    "DescText infoObject"
    "DescText ."
    "DescText .";
}
.Description {
    margin: 0;
    grid-area: Desc;
    font-weight: var(--DateAndNameFontWeight);
    font-size: var(--DateAndNameFontSize);
}
.ImageContainer .stretch{
    grid-row: span 2;
}
.ImageContainer div {
    aspect-ratio: auto;
}
#title {
    font-size: var(--TitleFontSize);
    font-weight: var(--TitleFontWeight);
}

.DecsText {
    font-size: 1rem !important;
    grid-area: DescText;
    margin-right: 1em;
}
.infoObject {
    grid-area: infoObject;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 0.4rem;
}
.infoObject p{
    border-bottom: 1px solid;
    margin: 0;
}
#ImageAsTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* optional spacing */
}

#ImageAsTitle img {
    width: 40vw; /* adjust as needed */
    height: auto;
    filter: brightness(0) saturate(100%) invert(35%) sepia(4%) saturate(5865%) hue-rotate(106deg) brightness(99%) contrast(98%);
}